* {
    box-sizing: border-box;
}

.side-bar img{
    max-width: 100%;
    height: 101vh;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

.side-bar {
    width: clamp(20%, 40%, auto);
    position: relative;
    margin: 0;
    padding: 0;
}

.image-text {
    position: absolute;
    top: 30%;
    color: white;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-text a {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 22, 22, 0.473);
    height: 200px;
    width: 100%;
}

.logo img {
    height: 200px;
}

.form-inputs {
    box-shadow:0px 2px 8px 0px rgba(68, 67, 67, 0.473);
}

.content p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(212, 212, 212);
}

input:invalid {
    border: 1px solid red;
}